<header>
    <a href="/" class="homeLink">Message Board</a>

    <!-- Display name and role -->
    <h2 class="headerNametag">
    <% if (currentUser) { %>
        <%= currentUser.first_name + " " + currentUser.last_name %>
    <% } else { %>
        Visitor
    <% } %>

    <% if (currentUser && currentUser.is_admin) { %>
        - ADMIN
    <% } else if (currentUser && currentUser.is_member) { %>
        - MEMBER
    <% } else if (currentUser) { %>
        - NEWCOMER
    <% } %>
    </h2>

    <nav>
    <!-- Display message form link if enrolled -->
    <% if (currentUser) { %>
        <form class="buttonWrapper" action="/messages/new-message">
            <button>Write New Message</button>
        </form>
    <% } %>
      
    <!-- Display upgrade link or sign-up -->
    <% if (currentUser && currentUser.is_admin ) { %>

    <% } else if (currentUser && currentUser.is_member ) { %>
        <form class="buttonWrapper" action="/users/admin">
            <button>Upgrade to Admin</button>
        </form>
    <% } else if (currentUser && !currentUser.is_member) { %>
        <form class="buttonWrapper" action="/users/confirm">
            <button>Upgrade to Member</button>
        </form>
    <% } else { %>
        <form class="buttonWrapper" action="/users/sign-up">
            <button>Sign Up to Post!</button>
        </form>
    <% } %>

    <!-- Display log-in or log-out -->
    <% if (currentUser) { %>
        <form class="buttonWrapper" action="/users/log-out">
            <button>Log Out</button>
        </form>
    <% } else { %>
        <form class="buttonWrapper" action="/users/log-in">
            <button>Log In</button>
        </form>
    <% } %>
    </nav>
      
</header>