<header>
    <a href="/" class="homeLink">Message Board</a>
    
    <p class="headerNametag">
    <% if (currentUser) { %>
        <%= currentUser.first_name + " " + currentUser.last_name %>
    <% } else { %>
        Visitor
    <% } %>
    </p>

    <nav>
    <!-- Display role and upgrade link -->
    <% if (currentUser && currentUser.is_admin) { %>
        <p>Role: ADMIN</p>
    <% } else if (currentUser && currentUser.is_member) { %>
        <p>Role: MEMBER</p>
        <a href="/users/admin">Upgrade to Admin</a>
    <% } else if (currentUser) { %>
        <p>Role: NEWCOMER</p>
        <a href="/users/confirm">Upgrade to Member</a>
    <% } else { %>
        <a href="/users/sign-up">Sign Up</a>
    <% } %>

    <!-- Display log-in or log-out -->
    <% if (currentUser) { %>
        <a href="/users/log-out">Log Out</a>
    <% } else { %>
        <a href="/users/log-in">Log In</a>
    <% } %>

    </nav>
      
</header>