<div class="header">
    <a href="/">Message Board</a>
    <!-- <a href="/users/sign-up">Sign Up</a> -->

    <% if (currentUser) {%>
        <h1>Logged in as <%= currentUser.first_name + " " + currentUser.last_name %></h1>
        <a href="/users/log-out">Log Out</a>
    <% } else { %>
        <a href="/users/sign-up">Sign Up</a>
        <a href="/users/log-in">Log In</a>
    <% } %>    

</div>