<header>
    <a href="/" class="homeLink">Message Board</a>
    
    <!-- Conditional nav links -->
    <% if (currentUser && currentUser.is_admin) { %>
        <h1>ADMIN: <%= currentUser.first_name + " " + currentUser.last_name %></h1>
        <a href="/users/log-out">Log Out</a>
    <% } else if (currentUser && currentUser.is_member) { %>
        <h1>MEMBER: <%= currentUser.first_name + " " + currentUser.last_name %></h1>
        <a href="/users/admin">Become Admin</a>
        <a href="/users/log-out">Log Out</a>
    <% } else if (currentUser) { %>
        <h1>PENDING MEMBER: <%= currentUser.first_name + " " + currentUser.last_name %></h1>
        <a href="/users/confirm">Confirm</a>
        <a href="/users/log-out">Log Out</a>
    <% } else { %>
        <a href="/users/sign-up">Sign Up</a>
        <a href="/users/log-in">Log In</a>
    <% } %>
      
</header>