<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <h1><%= title %></h1>

    <% if (locals.errors) { %>
      <ul>
        <% for (let i = 0; i < locals.errors.length; i++) { %>
          <li>
            <%= locals.errors[i].msg %>
          </li>
        <% } %>
      </ul>
    <% } %>

    <form action="" method="POST">
      <label for="first_name">First Name</label>
      <input name="first_name" type="text" maxlength="20">
      <label for="last_name">Last Name</label>
      <input name="last_name" type="text" maxlength="20">
      <label for="email">Email</label>
      <input name="email" type="text" maxlength="30">
      <label for="password">Password</label>
      <input name="password" type="password" maxlength="20">
      <label for="confirm_password">Confirm Password</label>
      <input name="confirm_password" type="password" maxlength="20">
      <button>Submit</button>
    </form>

  </body>
</html>