* {
  box-sizing: border-box;
}

:root {
  --palette-black: #212121;
  --palette-blue: #00447c;
  --palette-teal: #0b7b9e;
  --palette-cream: #dddace;
  --palette-white: #f2f3f4;
}

html, body {
  height: 100vh;
  display: flex;
}

body {
  background-color: var(--palette-cream);
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 800px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  /* max-width: 800px; */
  background-color: rgb(206, 206, 206);
  padding: 20px;
  gap: 5px;
}

header {
  /* position: fixed; */
  height: 100px;
  width: 800px;
  background-color: var(--palette-teal);
  display: flex;
  flex-direction: row;
  justify-content: end; 
  padding: 20px;
  gap: 5px;
}

main {
  background-color: var(--palette-white);
  padding: 0 10px 0px 10px;
  overflow: scroll;
}

footer {
  background-color: var(--palette-teal);
  padding: 20px;
}

.homeLink {
  margin-right: auto;
}

.messagesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageCard {
  display: flex;
  flex-direction: column;
  color: var(--palette-white);
  background-color: var(--palette-blue);
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.messageCard > * {
  display: flex;
  flex-direction: row;
}

.removeMessageLink {
  color: var(--palette-white);
  margin-left: auto;
}
