:root {
  --palette-bg: #000280; 
  --palette-body: #f2f3f47e;
  --palette-button: #000280;
  --palette-form: grey;
  --palette-light-text: white;
  --palette-post:rgb(0, 0, 208);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  display: flex;
}

body {
  background-color: var(--palette-bg);
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 800px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  color: var(--palette-light-text);
}

form {
  display: flex;
  flex-direction: column;
  /* max-width: 800px; */
  background-color: rgb(206, 206, 206);
  padding: 20px;
  gap: 5px;
}

header, footer {
  background-color: var(--palette-bg);
  color: var(--palette-light-text);
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: end; 
  gap: 5px;
}

footer {
  margin-top: auto;
}

main {
  background-color: var(--palette-body);
  border-radius: 10px;
  padding: 10px;
  overflow: scroll;
  flex-grow: 1;
}

.homeLink {
  margin-right: auto;
}

.messagesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageCard {
  background-color: var(--palette-post);
  color: var(--palette-light-text);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.messageCard > * {
  display: flex;
  flex-direction: row;
}

.removeMessageLink {
  color: var(--palette-white);
  margin-left: auto;
}
