body {
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: rgb(206, 206, 206);
  padding: 20px;
  gap: 5px;
}

.header {
  background-color: rgb(206, 206, 206);
  padding: 20px;
  gap: 5px;
}